@model BD_Bicicletas.Candidato;

@{
    ViewData["Title"] = "Eliminar Bici";
}


<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">@ViewData["Title"]</div>
                <div class="card-body">
                    <p class="text-danger">¿Seguro que desea eliminar la bici?</p>
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Imagen)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Imagen)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Nombre)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Nombre)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Tipo)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Tipo)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Marca)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Marca)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Tamaño)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Tamaño)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CantidadPlatos)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CantidadPlatos)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CantidadPiñones)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CantidadPiñones)
                        </dd>
                    </dl>
                </div>
                <div class="card-footer">
                    <form asp-action="DeleteBici">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Eliminar" class="btn btn-danger" />
                        <a asp-action="BicicletumList" class="btn btn-danger">Regresar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
